@page
@model Kgivler_com.Pages.Admin.ExceptionsModel
@{
	ViewData["Title"] = "Exceptions";
}

<div class="row">
	<div class="col">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>
						Message
					</th>
					<th>
						Stack Trace
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var e in Model.Exceptions)
				{
					<tr>
						<td>
							@e.Message
						</td>
						<td>
							@e.StackTrace
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
