@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-4">
    <h1 class="display-4">Welcome</h1>
    <p>
            Welcome to my website. My name is Kyle Givler. I am full-stack .NET developer in the Harrisburg, PA area. Thank you for taking the time to visit my homepage. Here you will find some information about myself and
            my projects. Please feel free to have a look at my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a> and explore my website. The best way to get in touch with me is a message on LinkedIn.
    </p>
    <p>
        As a junior ASP.NET full-stack developer, I am driven by my passion for technology and development. With experience in C#/ASP.NET MVC and Blazor (server and WASM), Bootstrap, SQL Server, SSMS, Dapper, Visual Studio and Git,
        I am well-versed in the tools and technologies needed to create and maintain successful web applications. My passion for learning and teaching others allows me to stay up-to-date on industry developments,
        as well as share my knowledge with others. I am eager to continue growing my skills and making meaningful contributions to development teams.
    </p>
</div>

<div class="my-5">
    Please feel free to explore these examples of my work
    <ul>
        <li>
            <a href="https://www.evergreenandbridges.com/" target="_blank">Evergreen & Bridges Counseling</a>
            <ul class="smallList">
                <li>Client website, showcased with permission</li>
            </ul>
        </li>
        <li>
            <a href="https://randomsteam.kgivler.com" target="_blank">Random Steam Game</a>
            <ul class="smallList">
                <li>Blazor WASM</li>
                <li>IDistributedCache</li>
                <li>MediatR</li>
            </ul>
        </li>
    </ul>
</div>
