@page
@model IndexModel
@{
	ViewData["Title"] = "Full Stack Developer";
}

<div class="row">
	<div class="col">
		<h1 class="mt-2 display-3 logoFont text-center">Welcome to kgivler.com</h1>
		<p class="lead">
			Hello! I am Kyle Givler, a full-stack .NET developer in the Harrisburg, PA area. Thank you for taking the time to visit my homepage. Here you will find some information about myself and
			my projects. Please feel free to have a look at my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a> and explore my website. If you would like to get
			in touch with me please send me a message on LinkedIn.
		</p>
	</div>
</div>

<div class="row">
	<div class="col">
		<h1 class="display-5 mt-3 logoFont text-center">About Me</h1>
		<p>
			I am a full stack .NET developer and I have a chihuahua named Shelly. I am extremely passionate about development and technology.
			I enjoy backend development, while striving to also have the ability to effectively utilize frontend technologies.
		</p>
		<p>
			I am genuinely fond of working with C#/.NET/ASP.NET. I have expereince with ASP.NET Core using MVC, Razor Pages, Blazor Server and Blazor Client as well as Web APIs.
			Recently I have also had the opportunity to work with VB.NET and Web Forms .NET Framework legacy applications, mostly porting them
			from Visual Basic to C#/.NET 6.
		</p>

	</div>
</div>

<div class="row">
	<div class="col-12 col-lg-5 mb-4 mt-2">
		<ul class="list-group shadow">
			<li class="list-group-item list-group-item-dark"><strong>Expereince with:</strong></li>
			<li class="list-group-item list-group-item-light">C#, .NET, ASP.NET Core, Java</li>
			<li class="list-group-item list-group-item-dark">ASP.NET Core MVC, Razor Pages, Blazor, Web API</li>
			<li class="list-group-item list-group-item-light">HTML5, Bootstrap 5, JavaScript, jQuery</li>
			<li class="list-group-item list-group-item-dark">Visual Studio, Git, SSMS</li>
			<li class="list-group-item list-group-item-ligh">SQL Server, SQLite, Dapper, and SQL Developer</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col">
		<p>
			I also have some familiarity with other technologies and programming languages to a lesser
			extent, which I have not used recently. This includes
			C, C++, PowerShell, and Bash among others. I have experience in both Windows and Linux
			environments.
		</p>
		<p>
			My resume can be found on my <a href="https://www.linkedin.com/in/kyle-givler/" target="_blank">LinkedIn</a>.
		</p>
	</div>
</div>

<div class="row">
	<div class="col">
		<hr />
		<p>
			Shelly thanks you for stopping by my website!
			<br />
			<a href="/Images/Shelly/shelly.jpg">
				<img src="/Images/Shelly/shelly.webp" class="img-fluid w-25" alt="Shelly!" />
			</a>
		</p>
	</div>
</div>

<vc:hit-counter />